@import './utils/fonst';

@import './utils/variables';

@import './base';

@import './utils/utils';

@import './components/buttons';

@import './components/links';

@import './components/header';

@import './components/hero-section';

.container {
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
    padding: 16px;
}

.section {
    padding: 48px 0;
}

.accent-normal {
    color: var(--color-brand);
    font-weight: 600;
}

.accent-upp {
    color: var(--color-brand);
    text-transform: uppercase;
    font-weight: 600;
}

.advantages-section {
    background-color: var(--color-brand);
    padding: 16px 0;
}

/* advantages */
.advantages-list {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.advantages-item {
    color: var(--color-light);
    font-size: 20px;
    font-weight: 300;
}

.traditions {
    padding-top: 96px;
}

.traditions-text {
    max-width: 710;
}

.traditions-text:nth-child(3) {
    max-width: 340;
}

.tradition-flex {
    display: flex;
    gap: 40px;
    justify-content: space-between;
}

.traditions-title {
    margin-bottom: 42px;
}

.section-title {
    font-weight: 900;
    font-size: 64px;
    line-height: 1.3;
}

.section-title.center {
    text-align: center;
}

.section-title .accent {
    color: var(--color-brand-dark);

}

/* chef section */
.chef-title {
    font-size: 40px;
    font-weight: 600;
}

.chef-title-h2 {
    margin: 0 auto 80px;
    position: relative;
}

.chef-title-h2::before {
    width: 352px;
    border: 2px solid var(--color-brand-light);
    content: '';
    position: absolute;
    left: 0;
    bottom: 24px;
}

.chef-title-h2::after {
    width: 352px;
    border: 2px solid var(--color-brand-light);
    content: '';
    position: absolute;
    right: 0;
    bottom: 24px;
}

.chef-list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.chef-card {
    display: flex;
    gap: 30px;
}

.chef-item {
    flex-basis: calc((100% - 30px) / 2);
}

.chef-img {
    border-radius: 4px 4px 4px 200px;
    box-shadow: -16px 16px 0 0 var(--color-light), -16px 16px 0 2px var(--color-chef-outline);
}

.chef-text p {
    margin-bottom: 24px;
}

.chef-text p:last-child {
    margin-bottom: 0;
}

/* format section */
.format-card-text {
    font-size: 14px;
    font: 300;
    color: var(--color-light);
}

.format-card {
    height: 444px;
    border-radius: 16px;
    padding: 24px;
    background: linear-gradient(180deg,
            rgba(49, 38, 26, 0) 55%,
            rgba(49, 38, 26, 0.71) 73%,
            var(--color-dark) 100%);
    transition: transform 0.3s;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.format-card:hover {
    transform: scale(1.05);
}

.format-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.format-card-li {
    flex-basis: calc((100% - 40px) / 3);
}

.format-card-title {
    color: var(--color-light);
    font-size: 24px;
    font-weight: 600;
}

.format-section {
    margin-bottom: 80px;
}

.format-container {
    display: flex;
    gap: 32px;
    align-items: center;
}

.format-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.carousel-button {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--color-dark);
    pad: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    fill: var(--color-dark);
    flex-shrink: 0;
    transition: background-color 0.3s, fill 0.3s;
}

.carousel-button:hover {
    background-color: var(--color-dark);
    fill: var(--color-light);

}

.carousel-button.next {
    transform: rotate(180deg);
}

.contact-section-main {
    padding-bottom: 96px;
}

.contact-container {
    display: flex;
    gap: 32px;
}

.contact-map {
    flex-shrink: 0;
    border: none;
    border-radius: 16px;
}

.contact-section {
    margin-bottom: 16px;
}

/* footer */
.address-link {
    font-size: 16px;
    font-weight: 300;
    color: var(--color-light);
    text-decoration: none;
    transition: color 0.3s;
}

.address-link:hover {
    color: var(--color-brand);
    text-decoration: none;
}

.address-copyright {
    font-size: 14px;
    color: var(--color-chef-outline);
}

.social-icon {
    fill: var(--color-light);
}

.social-icon:hover {
    fill: var(--color-brand);
}

.footer {
    background-image: url(../imgs/footer-background.png);
    background-color: var(--color-dark);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 32px 0;
    position: relative;
}

.footer-container {
    display: flex;
    gap: 20px;
}

.footer-nav,
.footer-address {
    flex-basis: 50%;
    display: flex;
    gap: 20px;
}

.footer-logo-div,
.footer-menu {
    flex-grow: 1;
    flex-basis: 50%;
}

.address-list,
.address-info {
    flex-grow: 1;
    flex-basis: 50%;
}

.footer::before {
    position: absolute;
    width: 180px;
    height: 120px;
    background-repeat: no-repeat;
    background-image: url(../imgs/decor-bread-small.png);
    content: '';
    bottom: 0;
    left: 0;
}

.footer::after {
    right: 0;
    position: absolute;
    background-image: url(../imgs/decor-bread-large.png);
    content: '';
    bottom: 0;
    background-repeat: no-repeat;
    width: 380px;
    height: 190px;
}

/* modal */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    transition: opacity 0.3s, visibility 0.3s;
}

.modal {
    position: relative;
    width: 100%;
    max-width: 880px;
    height: 100%;
    max-height: 880px;
    background-color: var(--color-light);
    border-radius: 32px;
    padding: 128px;
    overflow-y: auto;

}

.modal-btn-close {
    position: absolute;
    top: 40px;
    right: 40px;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

/* Form */
.form-input {
    padding: 16px 42px;
    width: 100%;
    border: 1px solid var(--color-chef-outline);
    border-radius: 8px;
    background-color: transparent;
}

.form-input:focus {
    border-color: var(--color-brand);
    outline: none;
}

.form-label {
    position: absolute;
    left: 42px;
    top: 16px;
    font-size: 16px;
    line-height: 1.17;
    color: var(--color-chef-outline);
    transition: transform 0.3s;
    pointer-events: none;
}

.form-input:focus+.form-label {
    transform: translate(-36px, -40px);
}

.form-field {
    margin-bottom: 32px;
    position: relative;

}

.order-button {
    margin: 0 auto 24px;
    display: block;
}

/* .checkbox{
    position: relative;
}

.checkbox-input {
    appearance: none;
}

.checkbox-input:checked + .checkbox-label::before {
    background-color: green;
}

.checkbox-label {
    padding-left: 10px;
}

.checkbox-label::before {
    width: 16px;
    height: 16px;
    content: '';
    border: 2px solid black;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 4px;
    border-radius: 3px;
} */

.form-terms {
    font-size: 12px;
    line-height: 1.5;
    font-weight: 500;
    text-align: center;
    max-width: 213px;
    margin: 0 auto;
}

.form-terms-link {
    color: var(--color-dark);
    text-underline-offset: 2px;
}