@import './utils/fonst';

@import './utils/variables';

@import './base';

@import './utils/utils';

@import './components/buttons';

@import './components/links';

@import './layouts/header';

@import './layouts/hero-section';

@import './layouts/tradition';

@import './layouts/advantages';

@import './layouts/chef';

@import './components/carousel-button';

@import './layouts/contact';

@import './layouts/footer';

@import './layouts/modal';

@import './components/form';

@import './utils/texts';

@import './components/section';

@import './layouts/format';

@import './components/cef-card';

@import './components/format_card';

@import './components/form-terms';