.visually-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
    padding: 16px;
}

.section {
    padding: 48px 0;
}

.section-title {
    font-weight: 900;
    font-size: 64px;
    line-height: 1.3;
}