:root {
    --color-brand: #809b57;
    --color-brand-light: #cfbcbc;
    --color-brand-dark: #465929;
    --color-light: #FAF4EA;
    --color-dark: #31261A;
    --color-chef-outline: #A18268;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1200px;