.main-button {
    display: block;
    padding: 16px 32px;
    color: var(--color-light);
    background-color: var(--color-brand);
    border: 2px solid;
    border-radius: 8px;
    border-color: var(--color-brand);
    cursor: pointer;
    font-weight: 600;
    transition: color 0.3s;
    transition: background-color 0.3s;
}

.main-button:hover {
    background-color: transparent;
    color: var(--color-brand-dark);
}