.carousel-button {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--color-dark);
    pad: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    fill: var(--color-dark);
    flex-shrink: 0;
    transition: background-color 0.3s, fill 0.3s;
}

.carousel-button:hover {
    background-color: var(--color-dark);
    fill: var(--color-light);

}

.carousel-button.next {
    transform: rotate(180deg);
}