.chef-card {
    display: flex;
    gap: 30px;

    &__title {
        font-size: 40px;
        font-weight: 600;
    }

    &__img {
        border-radius: 4px 4px 4px 200px;
        box-shadow: -16px 16px 0 0 var(--color-light), -16px 16px 0 2px var(--color-chef-outline);
    }

    &__text {
        margin-bottom: 24px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
