/* Form */
.form-input {
    padding: 16px 42px;
    width: 100%;
    border: 1px solid var(--color-chef-outline);
    border-radius: 8px;
    background-color: transparent;
}

.form-input:focus {
    border-color: var(--color-brand);
    outline: none;
}

.form-label {
    position: absolute;
    left: 42px;
    top: 16px;
    font-size: 16px;
    line-height: 1.17;
    color: var(--color-chef-outline);
    transition: transform 0.3s;
    pointer-events: none;
}

.form-input:focus+.form-label {
    transform: translate(-36px, -40px);
}

.form-field {
    margin-bottom: 32px;
    position: relative;

}

.order-button {
    margin: 0 auto 24px;
    display: block;
}

/* .checkbox{
    position: relative;
}

.checkbox-input {
    appearance: none;
}

.checkbox-input:checked + .checkbox-label::before {
    background-color: green;
}

.checkbox-label {
    padding-left: 10px;
}

.checkbox-label::before {
    width: 16px;
    height: 16px;
    content: '';
    border: 2px solid black;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 4px;
    border-radius: 3px;
} */

.form-terms {
    font-size: 12px;
    line-height: 1.5;
    font-weight: 500;
    text-align: center;
    max-width: 213px;
    margin: 0 auto;
}

.form-terms-link {
    color: var(--color-dark);
    text-underline-offset: 2px;
}