.advantages-section {
    background-color: var(--color-brand);
    padding: 16px 0;
}

/* advantages */
.advantages-list {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.advantages-item {
    color: var(--color-light);
    font-size: 20px;
    font-weight: 300;
}