.advantages-section {
    background-color: var(--color-brand);
    padding: 16px 0;

    &__list {
        display: flex;
        justify-content: space-between;
        gap: 40px;
    }

    &__item {
        color: var(--color-light);
        font-size: 20px;
        font-weight: 300;
    }
}
