.advantages-section {
    padding: 16px 0;

    @media screen and (min-width: $bp-tablet) {
        background-color: var(--color-brand);
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 16px;
        background-color: var(--color-brand-light);
        border-radius: 24px;
        padding: 24px 40px;

        @media screen and (min-width: $bp-tablet) {
            flex-direction: row;
            background-color: transparent;
            justify-content: space-between;
            gap: 40px;
            padding: 0;
        }
        
    }

    &__item {
        font-size: 14px;
        font-weight: 300;

        @media screen and (min-width: $bp-tablet) {
            color: var(--color-light);
            font-size: 20px;
        }
    }
}
