.chef-section {

    &__title {
        margin: 0 auto 80px;
        position: relative;

        &::before {
            width: 352px;
            border: 2px solid var(--color-brand-light);
            content: '';
            position: absolute;
            left: 0;
            bottom: 24px;
        }

        &::after {
            width: 352px;
            border: 2px solid var(--color-brand-light);
            content: '';
            position: absolute;
            right: 0;
            bottom: 24px;
        }
    }

    &__list {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
    }

    &__item {
        flex-basis: calc((100% - 30px) / 2);
    }
}