.section-title.center {
    text-align: center;
}

.section-title .accent {
    color: var(--color-brand-dark);

}

.chef-title {
    font-size: 40px;
    font-weight: 600;
}

.chef-title-h2 {
    margin: 0 auto 80px;
    position: relative;
}

.chef-title-h2::before {
    width: 352px;
    border: 2px solid var(--color-brand-light);
    content: '';
    position: absolute;
    left: 0;
    bottom: 24px;
}

.chef-title-h2::after {
    width: 352px;
    border: 2px solid var(--color-brand-light);
    content: '';
    position: absolute;
    right: 0;
    bottom: 24px;
}

.chef-list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.chef-card {
    display: flex;
    gap: 30px;
}

.chef-item {
    flex-basis: calc((100% - 30px) / 2);
}

.chef-img {
    border-radius: 4px 4px 4px 200px;
    box-shadow: -16px 16px 0 0 var(--color-light), -16px 16px 0 2px var(--color-chef-outline);
}

.chef-text p {
    margin-bottom: 24px;
}

.chef-text p:last-child {
    margin-bottom: 0;
}