.format-card-text {
    font-size: 14px;
    font: 300;
    color: var(--color-light);
}

.format-card {
    height: 444px;
    border-radius: 16px;
    padding: 24px;
    background: linear-gradient(180deg,
            rgba(49, 38, 26, 0) 55%,
            rgba(49, 38, 26, 0.71) 73%,
            var(--color-dark) 100%);
    transition: transform 0.3s;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.format-card:hover {
    transform: scale(1.05);
}

.format-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.format-card-li {
    flex-basis: calc((100% - 40px) / 3);
}

.format-card-title {
    color: var(--color-light);
    font-size: 24px;
    font-weight: 600;
}

.format-section {
    margin-bottom: 80px;
}

.format-container {
    display: flex;
    gap: 32px;
    align-items: center;
}

.format-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}