.modal {
    position: relative;
    width: 100%;
    max-width: 880px;
    height: 100%;
    max-height: 880px;
    background-color: var(--color-light);
    border-radius: 32px;
    padding: 128px;
    overflow-y: auto;

}

.modal-btn-close {
    position: absolute;
    top: 40px;
    right: 40px;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

