.traditions-section {
    padding-top: 96px;

    &__container {
        display: flex;
        gap: 40px;
        justify-content: space-between;
    }

    &__text {
        max-width: 710;

        &--limited {
            max-width: 340px;
        }
    }

    &__title {
        margin-bottom: 42px;
    }
}