.traditions-section {
    padding-top: 40px;

    @media screen and (min-width: $bp-tablet) {
        padding-top: 96px;
    }

    &__container {
        display: flex;
        align-items: flex-start;
        gap: 40px;
        justify-content: space-between;
    }

    &__text {
        max-width: 710;

        &--limited {
            max-width: 340px;
        }
    }

    &__title {
        margin-bottom: 42px;
    }

    &__img {
        display: none;
        border-radius: 400px 400px 0px 0px;

        @media screen and (min-width: $bp-tablet) {
            display: block;
        }
    }
}